body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#container
{
	margin: 0 auto;
	margin-top: -10px;
	width: 650px;
	background:#fff;
	opacity: 0.9;
	overflow: auto;
}

#content
{
	clear: left;
	padding: 20px;
}

#content h1
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
	margin-top: -10px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#built
{	
	font-size: .8em;
	float:left;
}

#about
{	
	font-size: .8em;
	float:right;
}

 div.botright{
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    width:10px;	